<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf015;"></Label>
    <Label class="page__content-placeholder" text="<!-- Page content goes here x -->"></Label>
    <Label class="page__content-placeholder plataformName" [text]="plataforma"></Label>
    <Label *ngIf="msg !== ''" class="page__content-placeholder homeMessage" [text]="msg"></Label>

    <label text="Lecturas seleccionadas" class="page__content-placeholder homeMessage"></label>
    <ListView class="list-group" height="150" [items]="this.lecturas">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <image [src]="'res://leer'" class="thumb img-circle"></image>
                <label
                    [text]="x"
                    class="list-group-item-heading"
                    verticalAlignment="center"
                    style="width: 60%"
                ></label>
            </FlexboxLayout>
        </ng-template>
    </ListView>

</StackLayout>
