<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalle"></Label>
</ActionBar>


<StackLayout columns="auto, *" rows="auto, 25" verticalAlignment="top" backgroundColor="lightgray">
    <ListView height="50%" [items]="this.comentarios">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="/icon.jpg" rowSpan="2" width="72" height="72" margin="3" verticalAlignment="top"></Image>
                <Label text="Juan Pérez" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"></Label>
                <Label
                    [text]="x.comentario"
                    textWrap="true"
                    col="1" row="1"
                    minHeight="50"
                    fontSize="14"
                    margin="3"
                    horizontalAlignment="left"
                    verticalAlignment="bottom"
                ></Label>
                <Label
                    text="Puntaje 4.3"
                    col="2"
                    row="1"
                    color="#10C2B0"
                    fontSize="14"
                    verticalAlignment="bottom"
                    margin="3"
                ></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>
