<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>

    <ns-search-form (search)="buscar($event)" [textoInicial]="'Noticia 1'"></ns-search-form>

    <ListView class="list-group" height="150" [items]="this.resultados">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item" (longPress)="showOptions(x)" (tap)="onItemTap($event)">
                <!-- <image [src]="loadImage()" class="thumb img-circle"></image> -->
                <image [src]="'res://leer'" class="thumb img-circle"></image>
                <label
                    [text]="x"
                    class="list-group-item-heading"
                    verticalAlignment="center"
                    style="width: 60%"
                ></label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
    <!--
    <label *ngFor="let noticia of this._noticiasService.buscar()" class="page__content-placeholder" [text]="noticia"></label>
    -->
</StackLayout>
