<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label [text]="nombreUsuario"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>

    <Button class="-primary" (tap)="goToNewUser()">
        <FormattedString>
            <Span text="&#xf099;" class="fab">
                <image [src]="'res://icon'" class="thumb img-circle" ></image>
            </Span>
            <Span text="Crear usuario"></Span>
        </FormattedString>
    </Button>
    <!-- <button type="button" class="btn btn-primary" (tap)="goToNewUser()" text="Crear usuario"></button> -->
</GridLayout>
