// Import common styles
@import "app-common";

// Place any CSS rules you want to apply only on Android here
.plataformName{
    color: blue;
}

.clsCategoria{
    font-weight: bold;
}

.personal-button{
    height: 50px;
}
