<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Crear usuario"></Label>
</ActionBar>

<GridLayout class="page__content">
    <DockLayout height="300px" backgroundColor="lightgray" stretchLastChild="false">

        <TextField
            id="userName"
            #username
            hint="Ingresa el nombre del usuario"
            secure="false"
            returnKeyType="done"
            autocorrect="false"
            maxLength="50"
            dock="top">
        </TextField>
        <Button text="Grabar" class="-primary" dock="left" width="50%" (tap)="grabar(username.text)"></Button>
        <Button text="Volver" class="-outline" dock="right" width="50%" (tap)="backToSetting()"></Button>
    </DockLayout>
</GridLayout>
